.font-upper {
    text-transform: uppercase;
}

.gap{
    gap:25px;
}

.d-flex {
    display: flex;
    
    .flex-row {
        flex-direction: row;
    }


    .flex-column {
        flex-direction: column;
    }

    .justify-content-start {
        justify-content: start;
    }

    .justify-content-center {
        justify-content: center;
    }

    

    .justify-content-end {
        justify-content: end;
    }


    .align-items-start {
        align-items: start;
    }

    .align-items-center {
        align-items: center;
    }

    .align-items-end {
        align-items: end;
    }

}

.rounded{
border-radius: 25px;
}


.list-unstyled {
    list-style: none;
}