@import 'variables';
@import 'reset';
@import 'mixins';
@import 'utils';



#topBar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#logo-image{
height: 50px;
}

#searchBar{
    width: 742px;
    height: 45px;
}

.mainNav{
 display: flex;   
justify-content: space-between;
a.link-item{
    text-align: center;
    text-decoration: none;
}
.link-icon{
height: 50px;
}
.link-content{
color:#0B3954;
text-transform: uppercase;
overflow: hidden;
}
}

%section {
    width: $section-width;
}

.dash {
    @include make-dash;
}

.dash-l {
    @include make-dash($height: 20px);
}



.dropdown {
    position: relative;
    .dropdown-content {
        position: absolute;
        z-index: 999;
        display: none;
        padding: 20px;
        background-color: #fff;

        ul {
            list-style: none;
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid grey;
                }
               
            }
        }
         
        img {
            height: 100px;
            object-fit: contain;
            position: absolute;
            right: -40px;
            bottom: 20px;
        }
       
    }

     &:hover .dropdown-content {

        display: flex;
       
    }

}



.dropdown-content a:hover{
}

.list-unstyled{
   width: 40%;
   background-color: #FFB128
}


.presbar{
    width: 60%;
    background-color: red;
}



#mainHeader{
    @extend %section;

}

#mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.card {
    background-color: lch(96.79% 2.83 19.37);
    padding-top: 30px;
    padding-right: 5%;
    padding-bottom: 30px;
    padding-left: 5%;
    border-radius: 32px 32px 32px 32px;
    &:hover{
        background-color:#F9F9F9;
        border-radius: 45px 45px;
    }
    
    .card-title {

    }
    .card-icon-wrapper{
        img{
            height:80px;
        }
    }

    .card-icon {

    }

}

#heroSection{
    width:80%;
    background-color:#0B3954;
    text-align: center;
    border-radius: 50px;
    position: relative;
    height: 630px;
    img {
        top: 40px;
        position: absolute;
        left: calc(50% - 587px);
        height: 630px;

    }
}

.statistic-section{
    @extend %section;
    display: flex;
    justify-content: space-between;

}

body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


h2 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0px;
    color:#0b3954;
}

.number{
    font-size: 48px;
    line-height: 55px;
    font-weight: 600;
    font-family: Sora;
    color: #FFB128;
}

h6 {
    @include define-title(12px, $primary-color);
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    color:$primary-color;
}


  .product-item{ 
    width:33.33%;
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
} 

.item-h{
   color: #FFFFFF;
    margin-bottom: 20px; 
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0px;
}

.item-time{
    margin-bottom: 20px;
}

.content{
    position: absolute;
    text-align: left;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;

}

.product-category {
    position: relative;
    transition: all .5s ease-in-out;
    &:hover {
        top: -15px;
    }
}

.image-wrapper {
    width: 50%;
}

.text-wrapper {
    width: 50%;
    text-align: left;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-transform: capitalize;

}

.spring-items {
    position: relative;
    width: 100%;
}

.spring-btn {
    @extend .rounded;
   background-color:$secondary-color;
    color:#FFF6DC ;
    width: 200px;
    height: 45px;
    &:hover{
        background-color: $primary-color;
    }
    border: none;
    font-size: 20px;
    text-transform: capitalize;
}